/* Mobile first Design */




/* attribution */

.attribution {
    display: none;
}


/* Tablet */
@media (min-width: 768px) {

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
}